# .travis.yml

os: linux
dist: bionic

language: cpp

addons:
  apt:
    packages:
      - libhdf5-dev
      - qtbase5-dev
      - googletest

before_script:
  # Build and install TyphonIO
  - wget https://github.com/benjaminjeliot/typhonio/archive/cmake_build_serial.tar.gz
  - tar -xvf cmake_build_serial.tar.gz
  - mkdir typhonio-build
  - cd typhonio-build
  - >
    cmake
    -DENABLE_MPI:BOOL=OFF
    -DCMAKE_INSTALL_PREFIX:PATH=${TRAVIS_BUILD_DIR}/typhonio
    ../typhonio-cmake_build_serial
  - cmake --build .
  - cmake --build . --target install
  - cd -

  # Build and install Google Test
  - mkdir gtest-build
  - cd gtest-build
  - >
    cmake
    -DBUILD_GTEST:BOOL=ON
    -DCMAKE_INSTALL_PREFIX:PATH=${TRAVIS_BUILD_DIR}/gtest
    /usr/src/googletest
  - cmake --build .
  - cmake --build . --target install
  - cd -

script:
  - mkdir build
  - cd build
  - export CMAKE_PREFIX_PATH=${TRAVIS_BUILD_DIR}/gtest:${CMAKE_PREFIX_PATH}
  - >
    cmake
    -DQt5_enabled:BOOL=ON
    -DTyphonIO_ROOT:PATH=${TRAVIS_BUILD_DIR}/typhonio
    -DExample_data_enabled:BOOL=ON
    -DTesting_enabled:BOOL=ON
    ..
  - cmake --build .
  - ctest --output-on-failure
